body{
    margin:0;
    background:url(img/fondo.jpg) no-repeat center;
    background-size: cover;
    font-family: "Carter One", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    /*Esta parte es para que la imágen este completamente en el fondo*/
}

header{
    background: black;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

h1{
    margin:0;
    color:white;
}

main{
    
    width: 80%;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 70%);
    display:flex;
    gap:30px;

    max-width: 1000px;
    min-width: 320px;
    margin:auto;

}
/*
Debe tener un ancho
Un margin y padding
A este main lo que le vamos a dar es un display tipo flex donde tenemos dos elementos hijos unos al lado del otro

*/

#imagen{
    width: 200px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgba(15, 15, 15, .5);

}

#palabra_a_adivinar{
    height:3em;
}

#palabra_a_adivinar span{ 
    vertical-align: bottom;
    font-size:2em;

    border-bottom:2px solid black;
    width: 30px;
    text-align: center;
    margin-right:6px;
    display:inline-block; /*Sin esta parte no hay ancho y tomaría el width, le vamos a decir a todos los sp*/
}

#letras{
    margin-top:30px;
    display: flex; /*el display flex */
    flex-wrap: wrap;
    gap:7px;
}

#letras button{
    width:28px;
    padding:6px 0;
    text-align:center;

    /*no le va a importar si se termina o no*/
}



#victorias{
    text-align: start;
}

#turnos{
    font-weight: 100;
    text-align: center;
    position:absolute;
    right: 19px;
    left:150px;

}

#turnosCaracter{
    font-size: 100px;
}

#victoriasCaracter{
    font-size: 100px;
}

@media (min-width: 110px){
    
    turnos{
        font: size 0.02rem;
    }
    

    victorias{
        font: 0.02rem;
    }

    turnosCaracter{
        font:0.02rem
    }

    victoriaCaracter{
        font:0.02rem;
    }

    
}


